.story {
    width: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,05);
    border-radius: 5px;
    top: 20%;
    left: 40%;
    margin: 10px 0px;
}
.storyList {
    background-color: #124559;
    border: 5px solid;
    height: 500px;
    width: 500px;
}

.storyListHeader, .storyCardTitle--completed {
    border: .5em solid;
    text-align: center;
    margin: 0;
}

.storyCardDisplay {
    height: 420px;
    overflow: scroll;
    overflow-x: hidden;
}

.storyCardDetails {
    height: 332px;
}

.completed {
    background-color: #124559;
    border: 5px solid;
    flex: 25%;
    height: 400px;
    margin: 2px;
    width: 400px;
}

.storyButtons {
    display: flex;
}

.completedStoryHeader {
    text-align: center;
}

.completedStoryDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.storyForm, .noteForm, .magazineForm, .submissionForm {
    position: absolute;
    width: 250px;
    opacity: 75%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,05);
    border-radius: 5px;
    top: 20%;
    left: 40%
}

fieldset {
    border: 0
}

.storyFormHeader, .magFormHeader {
    text-align: center;
}

.formButtons, .storyBtns {
    display: flex;
    justify-content: center;
}
.formBtn, .storyBtn {
    margin: 5%
}

.Submissions {
    overflow: scroll;
    overflow-x: hidden;
    max-height: 180px;
}