.magazineSection {
    background-color: #124559;
    border: 5px solid;
    height: 500px;
    width: 500px;
}

.magazineHeader {
    border: .5em solid;
    text-align: center;
    margin: 0;
}

.magazineList {
    align-items: space;
    display: flex;
    flex-direction: column;
    height: 417px;
    overflow: scroll;
    overflow-x: hidden;
}

.magLink {
    margin: 3px;
}

#magListBtn {
    margin: 3px;
}

.magDetailsTitle {
    text-align: center;
}

.detailsPendingDisplay, .acceptedRejectedDisplay {
    display: flex;
    border: 3px solid black;
}

.pendingSubmissions, .acceptedSubmissions, .rejectedSubmissions, .magazineDetails {
    background-color: #124559;
    border: 1px solid;
    flex: 1
}

.magCardTitle, .pendingHeader, .acceptedHeader, .rejectedHeader {
    border: .5em solid;
    text-align: center;
    margin: 0;
}

.magButtons {
    text-align: center;
}
